body {
	background-color:#0b090e;
}
.topo {
	background: url('img/topo.png');
	width:1357px;
	height:45px;
	float: left;
}
.menu {
	background: url('img/p2.png');
	width:800px;
	height:600px;
	float: left;
}