body {
	background-image:url('img/background.jpg');
	background-repeat:no-repeat;
 	background-attachment:fixed;
 	background-position:down;
	font-family:Arial, Helvetica, sans-serif;
	
}
div.transbox
  {
  width:400px;
  height:180px;
  margin:30px 50px;
  background-color:#ffffff;
  border-radius: 5px;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* Para IE8 (não recomendado) */
  }
div.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }
div.box
 {
  width:600px;
  height:65px;
  margin:30px 50px;
  background-color:#ffffff;
  border-radius: 15px;
  border:1px solid black;
  opacity:0.9;
 }
.top {
	position:relative;
	width:50%;
	height:40px;
	background-color:#EFEFEF;
	border:1px solid #E8E8E8;
	border-radius: 10px 20px;
	text-align:center;
	line-height:35px;
}

.open_div {
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333333;
}

.hidden_div {
	position:absolute;
	width:300px;
	height:180px;
	top:41px;
	left:50%;
	margin-left:-150px;
	border:2px solid #CCCCCC;
	overflow:hidden;
	clear:both;
	padding:10px;
	background-color:#EFEFEF;
	color:#333333;
	border-radius: 2px;
}

header_menu {
	background: url('img/topo.png');
	width:1370px;
	height:44px;
	float: left;
}









